.invalid{
    text-decoration: line-through;
    color: rgb(147, 144, 144);
}
.todo{
    display: flex;
    width: 100%;
    color: black;
    background-color: rgb(208, 203, 203);
    justify-content: space-around;
}
.todo input{
    width: 15px;
}
.todo button{
    border: none;
    background: none;
}
.todo i{
 font-size: 25px;   
}
